* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, serif;;
}

header {
    background-color: #1F2937;
    position: relative; /* Added relative positioning to make absolute positioning relative to header */
    height: 600px;
}

.nitesh3 {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.nitesh3 a {
    text-decoration: none;
    color: white;
    padding: 20px;
    margin-bottom: 20%;
}


.nitesh1 h3 {
    color: white;
}

.nitesh1 p {
    color: white;
}

button {
    background-color: blue;
    border: transparent solid 2px;
    padding: 5px 10px;
    margin-left: 100px;
     margin-top: 20px;
    color: white;
    border-radius: 10px;
    transition: 0.3s ease-in;
}
.nitesh h3{
    color: white;
    font-size: 40px;
    padding-top: 30px;
   padding-left: 80px;
   display: flex;
}
.nitesh1 {
    color: white;
    margin-top: 30px;
    padding-top: 30px;
   padding-left: 80px;

}
.nitesh1 pre{
    font-size: 20px;
}
.nitesh1 h1{
    font-size: 50px;
    font-weight: 10px;

}
.button_container button{
    font-size: 20px;
    font-weight: 10px;
    margin-left: 76px;
}
.imges{
    display: flex;
    justify-content: center;
    margin-left: 800px;
    margin-top: -110px; /* Adjust the top margin to move it up or down */
    padding-bottom: 100px;
 
   
}
.nitesh3 a{
    font-size: 30px;
    font-weight: 30px;
}
.mainmethod{
    text-align: center;
    margin-top: 30px;
}


.kaka {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.imagess {
    margin: 10px; /* Adjust the value to control the amount of space between images */
    border: 2px solid blue;
}
.paragrap{
    margin-top: 80px;
    background-color: #E5E7EB;
}
main{
    
        font-family: 'Montserrat', sans-serif;
}
.paragrap{
    text-align: center;
    padding: 40px;

}
.author{
    margin-left: 30px;
}
.blue{
    height: 100px;
    width: 1000px;
    margin-top: 50px;
    
     text-align: center; 
    background-color: blue;
}
.blue{
    margin-left: 270px;
   
}
.blue h4{
    padding-top: 20px;
    padding-right: 450px;
    color: white;
    

}
.btn{
    color: white;
    padding-left: 16cm;
    margin-top: -40px; 
 
    
}
.btn button{
    border: 2px solid rgb(117, 117, 227);
   
  
 
}
.btn button {
    display: inline-block;
}

footer{
    margin-top: 40px;
    background-color: #1F2937;
}
.nitesh7003{
    padding: 50px;
    color: white;
}
.nitesh7003{
    text-align: center;
}